{% extends 'index.html' %}
{% load static %}
{% block content %}

    {% if success %}
        hooora
    {% elif bookID %}
        <form action="/book/add/" id="frmFileUpload" class="dropzone dz-clickable" method="post"
              enctype="multipart/form-data">
            <div class="dz-message">
                <div class="drag-icon-cph">
                    <i class="material-icons">touch_app</i>
                </div>
                <h3>عکس مورد نظر خود را اینجا قرار دهید.</h3>
            </div>
            <input type='hidden' value="{{ bookID }}" name="bookID">
        </form>
        <link href="{% static 'plugins/dropzone/dropzone.css' %}" rel="stylesheet">
        <script src="{% static 'plugins/dropzone/dropzone.js' %}"></script>
    {% else %}
        <form action="/book/add/" method='post' id="form_validation">
            <div class="row text-center" style="margin-bottom:10px;">
                <span style="font-size:20px;font-weight:bold">اضافه کردن کتاب</span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-line">
                            <input name="name" type="text" required class="form-control" placeholder="نام کتاب"
                                   aria-required="true">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-line">
                            <input name="author" type="text" required class="form-control" placeholder="نویسنده">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-line">
                            <input name="genre" type="text" class="form-control" placeholder="ژانر">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-line">
                            <input name="age" type="text" class="form-control" placeholder="گروه سنی">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-line">
                            <input name="pubyear" type="text" class="form-control" placeholder="سال انتشار">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-line">
                            <input name="dimension" type="text" class="form-control" placeholder="ابعاد">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-line">
                            <input name="description" type="text" class="form-control" placeholder="توضیحات">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-line">
                            <input name="summary" type="text" class="form-control" placeholder="خلاصه">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="form-group demo-tagsinput-area">
                        <div class="form-line">
                            <input name='tags' type="text" class="form-control" data-role="tagsinput"
                                   placeholder="واژه های کلیدی">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center" style="margin-bottom:10px;">
                <button type="submit" class="btn btn-primary m-t-15 waves-effect" style="min-width:100px;">ثبت</button>
            </div>
        </form>

        <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>

        <script src="{% static 'js/admin.js' %}"></script>
        <link href="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">
    {% endif %}
{% endblock %}
