{% extends 'index.html' %}
{% load static %}
{% block style %}
    <style>
        .img-rounded {
            max-width: 300px;
            max-height: 400px;
        }

        #image_container {
            padding: 50px;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div class="row">

            </div>
            <div class="row">

            </div>

            <div class="row ">
                <div class="col-md-3" style="float:right">
                    <button type="button" class="btn bg-teal btn-block btn-lg waves-effect">درخواست امانت</button>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div id="image_container">
                {% if book.image %}
                    <img class="img-rounded img-responsive" src="/static/uploads/{{ book.image.url }}">
                {% else %}
                    <img class="img-rounded img-responsive" src="{% static 'images/book.jpg' %}">
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
