{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>کتاب یاب</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static 'plugins/node-waves/waves.css' %}" rel="stylesheet"/>

    <!-- Animation Css -->
    <link href="{% static 'plugins/animate-css/animate.css' %}" rel="stylesheet"/>

    <!-- Custom Css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/AdminLTE.min.css' %}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{% static 'css/themes/all-themes.css' %}" rel="stylesheet"/>
    {% block style %}
    {% endblock %}
    <style>
        .material-icons {
            margin-left: 5px;
        }

        .rtl {
            direction: rtl;
        }
    </style>
</head>

<body class="theme-red">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>لطفا منتظر بمانید</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" class='rtl' placeholder="تایپ کنید ...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right" style="float:left !important">
                <!-- Call Search -->
                <li><a href="javascript:void(0);" class="js-search" data-close="true"><i
                        class="material-icons">search</i></a></li>
            </ul>
        </div>
        <div class="navbar-header" style="float:right !important">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
               data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="{% static 'images/user.png' %}" width="48" height="48" alt="User"/>
            </div>
            <div class="info-container rtl">
                <div class="name" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">{{ user.first_name }}</div>
                <div class="email">{{ user.email }}</div>
{#                <div class="btn-group user-helper-dropdown">#}
{#                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>#}
{#                    <ul class="dropdown-menu pull-right" style="right:auto;left:0">#}
{#                        <li><a href="javascript:void(0);"><i class="material-icons">person</i>پروفایل</a></li>#}
{#                        <li role="seperator" class="divider"></li>#}
{#                        <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>#}
{#                        <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>#}
{#                        <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>#}
{#                        <li role="seperator" class="divider"></li>#}
{#                        <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>#}
{#                    </ul>#}
{#                </div>#}
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu rtl">
            <ul class="list" style="padding-right:0">
                <li class="header">منوی اصلی</li>
                <li>
                    <a href="{% url 'home' %}">
                        <i class="material-icons">home</i>
                        <span>خانه</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">trending_down</i>
                        <span>اضافه یا حذف کتاب</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="/book/add/">
                                <i class="material-icons">add</i>
                                <span>اضافه کردن کتاب</span>
                            </a>
                        </li>
                        <li>
                            <a href="/book/change/">
                                <i class="material-icons">edit</i>
                                <span>ویرایش یا حذف کتاب</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'invite' %}">
                        <i class="material-icons">supervisor_account</i>
                        <span>دعوت دوستان</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                <a href="/logout">خروج</a>
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    <!-- #END# Right Sidebar -->
</section>

<section class="content rtl">
    <div class="container-fluid">
        <div class="box box-default">
            <div class="box-body">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core Js -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>

<!-- Select Plugin Js -->
<script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{% static 'plugins/node-waves/waves.js' %}"></script>

<script>
    var loc = window.location.href;
    let found = false;
    $('.menu.rtl ul li a').each(function () {
        if (this.href == loc) {
            found = true;
            $(this).parent().addClass('active')
            if ($(this).parent().parent().parent().is('li')) {
                $(this).parent().parent().parent().addClass('active')
            }
        }
    });
    if (!found) {
        $('.menu.rtl .list > li:nth-child(2)').addClass('active')
    }
</script>

<!-- Custom Js -->
<script src="{% static '/js/admin.js' %}"></script>

<!-- Demo Js -->
<script src="{% static 'js/demo.js' %}"></script>
<script src="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
{% block script %}

{% endblock %}
</body>

</html>
