{% extends 'index.html' %}
{% load static %}
{% block style %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <style>
        #inputEmail{
            width:300px;
            text-align: center;
            margin:15px auto 15px auto;
        }
        .btn{
            width:200px;
        }
    </style>
{% endblock %}


{% block content %}
    {% if success %}
        <div class="row" style="text-align:center;padding-left:40px;color:green">
            لینک ثبت نام برای ایمیل وارد شده ارسال شد
            </br>
        </div>
    {% endif %}
    <div class="row" style="text-align:center;padding-left:40px;">
        برای دعوت دوستتان به برنامه، ایمیل ایشان را در قسمت زیر وارد کرده و دکمه‌ی ارسال را فشار دهید.
        </br>
        <form class="form-signin" action="{% url 'invite' %}" method="post">
            <input type="text" id="inputEmail" name="email" class="center-block form-control" placeholder="آدرس ایمیل">
            <button class="btn btn-lg btn-primary btn-block btn-signin center-block" type="submit">ارسال دعوت نامه</button>
        </form>
    </div>
{% endblock %}
