{% extends 'index.html' %}
{% load static %}
{% block style %}
    <style>
        img {
            max-width: 150px;
            max-height: 200px;
        }

        .book-name {
            margin-top: 10px;
        }

        .book {
            padding: 10px;
            margin: 10px 0;
            color: dimgray;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row" style="text-align:center;padding-left:40px;">
        {% for book in books %}
            <a href="/book/detail?id={{ book.id }}">
                <div class="col-md-3 book card ">
                    {% if book.image %}
                        <img class="center-block img-rounded img-responsive" src="/static/uploads/{{ book.image.url }}">
                    {% else %}
                        <img class="center-block img-rounded img-responsive" src="{% static 'images/book.jpg' %}">
                    {% endif %}
                    <div class="book-name">
                        کتاب
                        {{ book.name }}
                        اثر
                        {{ book.author }}
                    </div>
                </div>
            </a>
            <div class="col-md-1"></div>
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row" style="text-align:center;padding-left:40px;">
            {% endif %}
        {% empty %}
            <div>Sorry, no books in this list.</div>
        {% endfor %}
        </div>

{% endblock %}
