{% extends 'index.html' %}
{% load static %}
{% block style %}
    <style>
        th {
            text-align: right;
        }
    </style>
    <link href="{% static 'plugins/sweetalert/sweetalert.css' %}" rel="stylesheet"/>

{% endblock %}
{% block content %}
    <table id="mainTable" class="table table-striped">
        <thead>
        <tr>
            <th>نام</th>
            <th>نویسنده</th>
            <th>ژانر</th>
            <th>سال انتشار</th>
            <th>ابعاد</th>
            <th>توضیحات</th>
            <th>گروه سنی</th>
            <th>خلاصه</th>
            <th>حذف</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr id="{{ book.id }}">
                <td name='name'>{{ book.name }}</td>
                <td name='author'>{{ book.author }}</td>
                <td name='genre'>{{ book.genre }}</td>
                <td name='pubyear'>{{ book.pubyear }}</td>
                <td name='dimension'>{{ book.dimension }}</td>
                <td name='description'>{{ book.description }}</td>
                <td name='age'>{{ book.age }}</td>
                <td name='summary'>{{ book.summary }}</td>
                <th><i style="color:red" class="material-icons delete" id="delete-{{ book.id }}">close</i></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block script %}

    <script src="{% static 'plugins/editable-table/mindmup-editabletable.js' %}"></script>
    <script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}"></script>

    <script>
        $('#mainTable').editableTableWidget();
        $('.delete').click(function () {
            let that = $(this);
            swal({
                title: "آیا مطمعا هستید ؟ ",
                text: "!در صورت حذف شما امکان بازیابی این کتاب را نخواهید داشت",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "!بله، حذف شود",
                cancelButtonText: 'خیر',
                closeOnConfirm: false
            }, function () {
                let id = that.attr('id').split('-')[1]
                $.ajax({
                    url: "/book/remove/",
                    data: {'deleteID': id},
                    method: 'POST',
                }).done(function () {
                    that.parent().parent().remove();
                });
                swal('!کتاب شما با موفقیت حذف شد', '', "success");
            });

        })

        $('td').change(function () {
            $.ajax({
                url: "/book/edit/",
                data: {'editID': $(this).parent().attr('id'), 'name': $(this).attr('name'), 'value': $(this).html()},
                method: 'POST',
            })
        })
    </script>
{% endblock %}
