/*
* Specific styles of signin component
*/
/*
* General styles
*/
body, html {
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(0,174,195), rgb(0,126,195));
}
input:-moz-placeholder { text-align:center; }

:-ms-input-placeholder {
  text-align: center;
}
::-webkit-input-placeholder { text-align:center; }

.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/*
* Card component
*/
.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 200px;
  height: 180px;
  margin: 0 auto 0px;
  display: block;
}

/*
* Form styles
*/
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}
.rtl{
  direction: rtl !important;
}
.form-signin input {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}
.form-signin .btn-signin{
  margin-top: 20px;
}
.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(0,174,195);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(0,174,195);
}

.btn.btn-signin {
  /*background-color: #4d90fe; */
  background-color: rgb(0,174,195);
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}
.btn.btn-signup,
.btn.btn-resetPassword {
  background-color: rgb(0,126,195);
}
.btn.btn-resetPassword {
  margin-top:20px;
}
.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color: rgb(0, 185, 195);
}

.forgot-password {
  color: rgb(0, 126, 195);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
  color: rgb(0, 126, 195);
}
#inputPassword{
  text-align: center;
}
