{% load staticfiles %}
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>
<style>
    {% block style%}

    {% endblock %}
</style>
<body>
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="{% static 'images/logo.png' %}"/>
            <p id="profile-name" class="profile-name-card"></p>
            {% block form %}

            {% endblock %}
        </div><!-- /card-container -->
    </div><!-- /container -->
    {% block scripts %}

    {% endblock scripts %}
</body>

</html>
