{% extends 'base.html' %}
{% block form %}
    <form class="form-signin" action="{% url 'login' %}" method="post">
        {% if verify %}
            <input type="text" id="key" name="key" class="form-control" placeholder="کد ارسال شده" autofocus>
            <input type="text" id="cellKey" name="cellKey" class="form-control" style="display: none" value="{{ verify }}">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">تطبیق</button>
            {% if err %}
                <span style="color:red">کد وارد شده اشتباه است</span>
            {% endif %}
        {% else %}
            <input type="text" id="cell" name="cell" class="form-control" placeholder="(شماره مبایل (مثال : ۰۹۱۲۱۲۳۴۵۶۷" autofocus>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">ارسال کد</button>
        {% endif %}
    </form>
{% endblock %}
