{% extends 'base.html' %}
{% block form %}
    {% if success %}
        <div style='color:green;text-align:center'>ثبت نام با موفقیت انجام شد</div>
    {% endif %}
    <form class="form-signin" action="{% url 'signup' %}" method="post">
        <input type="text" id="inputName" name="name" class="form-control rtl" placeholder="نام و نام خانوادگی"
               autofocus>
        <input type="text" id="inputEmail" name="email" class="form-control" placeholder="آدرس ایمیل" value="{{ email }}">
        <input type="text" name="inviter" class="form-control " placeholder="کد معرف (اختیاری)">
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">ثبت نام</button>
        {% if err %}
            <span style="color:red">در مقادیر وارد شده اشتباه وجود دارد.</span>
        {% endif %}
        {% if cell %}
            <input type="text"  value="{{ cell }}" style="display: none" name="cell" class="form-control">
            <input type="text"  value="{{ key }}" style="display: none" name="key" class="form-control">
        {% endif %}
    </form>
    {% if success %}
        <a href="/login">برای ورود کلیک کنید</a>
    {% endif %}
{% endblock %}
